.composite-bar-container{
    align-items: center;
    justify-content: center;
}

.be5invis.vscode-custom-css{
    display: none !important;
}

.window-appicon{
    display: none !important;
}

.title-label{
    display: none !important;
}

.actions-container{
    align-items: center !important;
    justify-content: center !important;
}

.monaco-dropdown{
    display: none !important;
}

.title-action{
    display: none !important;
}

.titlebar-center{
    display: none !important;
}

.inline-tabs-placeholder{
    display: none !important;
}

.windows{
    font-family: 'JetBrains Mono';
}

.action-toolbar-container{
    display: none !important;
}

#be5invis.vscode-custom-css{
    display: none !important;
}