.windows{
    font-family: 'JetBrains Mono';
}

.actions-container{
    align-items: center !important;
    justify-content: center !important;
}

.composite-bar-container{
    align-items: center;
    justify-content: center;
}

.titlebar-center{
    display: none !important;
}

.title-label{
    display: none !important;
}
